@font-face {
  font-family: Caviar;
  src: url('../Fonts/CaviarDreams_Bold.ttf')
}

/*BACKGROUND COLOR OF PAGE*/
body {
  background-color: rgba(4, 40, 68, 0.85);
}

/*CONTAINER OF TABLES*/
#wrapper {
  width: 870px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

/*TITLE*/
h1 {
  text-align: center;
  font-family: Caviar;
  color: white;
  font-size: 30pt;
  user-select: none;
}
/*LOGOUT BUTTON*/
#logout {
  color: white;
  font-family: Caviar;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14pt;
  cursor: pointer;
  user-select: none;
}
/*LOGOUT BUTTON CSS*/
#logout:hover {
  color: #dddddd;
}

/*SEARCH BAR*/
#searchBar {
  position: absolute;
  top: 60px;
  left: 70px;
  border-radius: 10px;
  padding-left: 5px;
}

/*ADD A PASSWORD + ICON*/
#addNewIcon {
  float: right;
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
}

/*DASHBOARD PANEL*/
#mainPanel {
  width: 800px;
  height: 70%;
  margin: 60px auto;
  clear: both;
  border: 2px solid #dddddd;
  position: relative;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

/*CONTAINER FOR THE TABLES*/
#tableContainer {
  overflow-y: auto;
  height: calc(100% - 52px);
}

/*PASSWORD AND WEBSITE DATA/TABLE*/
table {
  font-family: Helvetica;
  width: 100%;
  border-bottom: solid 1px #dddddd;
  border-collapse: collapse;
}
/*TABLE DATA'S*/
td {
  padding: 8px;
}

/*WEBSITES*/
td:first-child {
  width: 30%;
  padding-left: 2.5%;
}

/*STRENGTH: STRENGTH BAR*/
td:nth-child(2) {
  padding: 0;
  width: 20%;
}
/*STRENGTH BAR*/
td:nth-child(3) {
  padding: 0;
  padding-left: 2px;
  width: 30%;
  font-size: 10pt;
  opacity: 0.5;
}

/*REMOVE PASSWORD ICON*/
td:nth-child(4) {
  width: 10%;
}

/*EVERY SECOND ITEM IS GREY*/
tr:nth-child(even) {
  background-color: #dddddd;
}

/*REMOVE ICON*/
.removeIcon i {
  font-size: 20px;
  cursor: pointer;
}
/*IF NO ITEMS DISPLAY THIS*/
#noItems {
  text-align: center;
  margin: 0;
  margin-top: 10%;
  display: none;
  font-family: sans-serif;
  color: grey;
  font-size: 14pt;
  user-select: none;
}

/*DETAILS BAR*/
#detailsBar {
  width: 100%;
  height: 50px;
  border-top: solid 2px #dddddd;
  border-bottom: solid 2px #dddddd;
  position: absolute;
  bottom: -2px;
  background-color: white;
  cursor: pointer;
}
/*"DETAILS" WORD IN BAR*/
#detailsBar span {
  line-height: 50px;
  padding-left: 20px;
  font-family: sans-serif;
}
/*EXPAND DETAILS BAR ICON*/
#detailsBar i {
  float: right;
  margin: 10px 30px;
  font-size: 30px;
}

/*DETAILS PANEL POP UP*/
#detailsPanel {
  display: none;
  width: 100%;
  height: 298px;
  position: absolute;
  bottom: 0;
  background-color: #eeeeee;
  font-family: sans-serif;
}

/*WORDS IN DETAILS PANEL*/
#detailsPanel>div>p {
  margin-left: 10px;
}

/*ADD NEW ITEM*/
#addNewItemModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  /* LOCATION OF THE BOX */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* ENABLE SCROLL IF NEEDED */
  background-color: rgba(0, 0, 0, 0.4);
}

/*ADD NEW WEBSITE POP UP*/
#addNewItemForm {
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 120px;
  padding: 50px 30px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 400px;
  filter: drop-shadow(#101010 0 0 5px);
  position: relative;
  font-family: Caviar;
}

/*CLOSE ADD NEW WEBSITE POPUP*/
#closeBtn {
  color: #aaaaaa;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 5px;
}

/*HOVER FOR CLOSE BUTTON*/
#closeBtn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*ADD NEW ITEM FORM*/
#addNewItemForm>form {
  margin: auto;
  width: 80%;
  height: 300px;
}

/*ADD NEW ITEM FORM*/
#addNewItemForm>form>input {
  width: 100%;
  height: 30px;
  font-size: 18px;
}

/*IF PASSWORD IS INCORRECT*/
#validation {
  display: inline-block;
  width: 220px;
  height: 46px;
  margin-top: 20px;
  font-family: sans-serif;
  color: red;
  position: relative;
}
/*INCORRECT PASSWORD TEXT*/
#validation>p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/*SUBMIT BUTTON FOR ADD PASSWORD POPUP*/
#submitBtn {
  float: right;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  width: 80px;
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 15pt;
  font-family: Caviar;
}