        @font-face {
            font-family: Caviar;
            src: url('../Fonts/CaviarDreams_Bold.ttf')
        }

        body {
            background: rgba(4, 40, 68, 0.85);
            width: 100%;
            height: 100%;
            font-family: Caviar;
            color: white;
            margin: 0;
        }

        h1 {
            text-align: center;
            font-size: 50pt;
        }
		
		a {
			color: white
		}	

        /*

        CSS FOR VERSION 1
        ____________________
        ***safestore.html***
        ____________________
        
        input.login {
            width: 40%;
            height: 7%;
            margin: auto;
            display: block;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
            margin: auto;
            display: block;
            font-size: 15pt;
        }

        .secondary {
            text-align: center;
            display: block;
            margin: 0 auto;
            text-decoration: none;
            color: white;
        }

        .register {
            margin: auto;
            float: right;
            text-decoration: none;
            color: white;
            margin-right: 40px;
            margin-top: 15px;
            font-size: 15pt;
        }

        a:hover {
            color: black;
        }

        #form input {
            padding-left: 10px;
            font-size: 14pt;
        }

        #createAccountModal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 150px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #registerForm {
            background-color: #fefefe;
            margin: auto;
            padding: 50px 30px 50px 30px;
            border: 1px solid #888;
            border-radius: 10px;
            width: 400px;
            filter: drop-shadow(#101010 0 0 5px);
            position: relative;
            color: black;
        }

        #closeBtn {
            color: #aaaaaa;
            font-size: 36px;
            font-weight: bold;
            position: absolute;
            right: 20px;
            top: 0;
        }

        #closeBtn:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        #registerBtn {
            margin: auto;
            float: right;
            text-decoration: none;
            margin-right: 25px;
            margin-top: 30px;
            font-size: 17pt;
            color: white;
            cursor: pointer;
        }

        #registerForm>form {
            margin: auto;
            width: 80%;
        }

        #registerForm>form>input {
            width: 100%
        }

        #submitBtn {
            position: relative;
            top: 20px;
            background-color: #4CAF50;
            color: white;
            width: 80px;
            text-align: center;
            padding: 10px 25px;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            font-size: 15pt;
        }*/